"*":
  "atom-ide-outline":
    initialDisplay: false
  "atom-inline-blame":
    format: "%relativeTime% ago - %summary%"
  "atom-typescript":
    allowJS: true
    checkAllFilesOnSave: false
  core:
    disabledPackages: [
      "about"
      "background-tips"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    defaultFontSize: 12
    fontFamily: "Roboto Mono"
    fontSize: 12
    lineHeight: 2
    preferredLineLength: 120
    showIndentGuide: true
  "exception-reporting":
    userId: "5913db56-f56b-416b-aaf2-cee028a85970"
  "file-types":
    "*.f7": "text.html.mustache"
  "linter-ui-default":
    panelHeight: 97
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "python-black":
    lineLength: 120
  "tree-ignore": {}
  welcome:
    showOnStartup: false
